<!-- filepath: /d:/DAD work/Excel_Automation/app/templates/header_footer.html -->

<footer class="text-left text-start mt-5" style="background-color: #2d2e2e; padding-top: 20px;">
    <div class="container" style="padding-top: 31px; padding-bottom: 31px;">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="border-bottom: 2px solid white; display: inline-block;">Excel Automation</h5>
                <p>
                    Automate your Excel tasks with ease and efficiency.<br>
                    Our tools are designed to save you time and increase productivity.<br>
                    We are here to help you 24/7 with any queries or support.
                </p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="border-bottom: 2px solid white; display: inline-block;">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/">Home</a></li>
                    <li><a href="/results">Results</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="border-bottom: 2px solid white; display: inline-block;">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="mailto:info@excelautomation.com">vb.vaibhavbiyawala08@gmail.com</a></li>
                    <li><a href="tel:+1234567890">+91 7984343590</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="border-top: 1px solid #e7e7e7;">
        © 2024 Excel Automation | All rights reserved.
    </div>
</footer>