<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="hero">
        <h1>Welcome to Excel Automation</h1>
        <p>Automate your Excel tasks with ease</p>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Select Transaction Type</h1>
        <div class="text-center">
            <a href="{{ url_for('online_upload') }}" class="btn btn-primary btn-lg mt-1">Online Transaction</a>
            <a href="{{ url_for('cash_upload') }}" class="btn btn-info btn-lg mt-1">Cash Transaction</a>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>